.wrap{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 65%;
  box-sizing: border-box;
}
.leftSide{
  width: 50%;
  padding: 50px 0 50px 50px;
}
.leftSide img{
  height: 230px;
  width: 350px;
  /* border-radius: 5px; */
  padding: 25px 10px 30px 20px;
}
.rightSide{
  width: 50%;

  /* margin: 30px; */
}
#tellUs{
  border-radius: 5px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  /* padding: 30px; */
}
h1{
  font-size: 40px;
  margin: 5px 0 70px 0;
}
label{
  font-size: 23px;
}
input, textarea{
  border: none;
  border-bottom: 1.8px solid grey;
  width: 300px;
  background-color: rgb(242, 240, 240);
  padding: 10px;
  margin: 7px 0;
  outline: none;
  font-size: 18px;
}
textarea{
  width: 350px;
  padding: 20px;
}
button{
  width: 170px;
  margin: 30px 0 !important;
}


@media screen and (max-width: 800px) {
  .wrap{
    flex-direction: column;
  }
  #tellUs{
    /* height: 100px; */
    padding-bottom: 100px;
  }
  .leftSide{
    /* padding: 0 0 0 50px; */
  }
  .rightSide{
    padding-left: 50px;    
  }
  button{
  margin: 5px 0 !important;
}
}