.container{
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgba(255,255,255,255,.8); */
<<<<<<< HEAD
  min-height: 65%;
=======
  min-height: 64%;
>>>>>>> 6ac71b527d985eb7ecaac57a1c4a5c69ddbf9da8
}
.overlay{
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
.items{
  color: white;
  font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif 'Gill Sans MT' sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 150px;
  word-spacing: 3px;
  letter-spacing: 5px;
  box-sizing: border-box;
}
.items h1{
  margin: 0;
}
.items button{

}


@media only screen and (min-width: 600px) {
  .items h1{
    margin: 26px 0px;
  }
  .items p{
    margin: 26px 0px 50px 0px;
    font-size: 25px;
  }
}
@media only screen and (max-width: 600px) {
  .items{
<<<<<<< HEAD
  font-size: 20px;
=======
    padding-top: 100px;
  } 
  .container{
    height: 70vh;
>>>>>>> 6ac71b527d985eb7ecaac57a1c4a5c69ddbf9da8
  }
}
